<div id="TaskSecondSolution">
    <form method="post">
        <label>Введите текст</label>
        <input type="text" name="str"/>
        <button>Подсчитать количество + и _</button>
        <p></p>
        <label>Количество +:</label>
        <label>@ViewBag.countplus</label>
        <p></p>
        <label>Количество _:</label>
        <label>@ViewBag.count</label>
    </form>

</div>