<div id="TaskFirstSolution">
    <form method="post">
        <p>Сгенерированный массив:</p>
        @for(int i=0; i<15; i++)
        {
            <label>@ViewBag.arr[i]</label>
        }
        <label>Среднее арифметическое положительных чисел:</label>
        <label>@ViewBag.avg</label>
    </form>

</div>